<a href="https://colab.research.google.com/github/gnsJhenJie/TNFSH_AI/blob/master/190426_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas
  
 2019/04/26

## å»ºSeries

In [0]:
import pandas as pd
import numpy as np

In [2]:
obj = pd.Series([99,550,32,0,2.1])
obj

0     99.0
1    550.0
2     32.0
3      0.0
4      2.1
dtype: float64

In [5]:
obj.values

array([ 99. , 550. ,  32. ,   0. ,   2.1])

In [6]:
obj.index

RangeIndex(start=0, stop=5, step=1)

In [7]:
obj2 = pd.Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [8]:
obj2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

In [9]:
obj2['c']

3

In [0]:
obj2['a'] = -100

In [16]:
obj2[['a','c','b','a','f']]

/usr/local/lib/python3.6/dist-packages/pandas/core/series.py:951: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self.loc[key]

a   -100.0
c      3.0
b      7.0
a   -100.0
f      NaN
dtype: float64

In [17]:
obj2[obj2 > 0]

d    4
b    7
c    3
dtype: int64

In [18]:
np.exp(obj2)

d    5.459815e+01
b    1.096633e+03
a    3.720076e-44
c    2.008554e+01
dtype: float64

In [20]:
'b' in obj2

True

In [21]:
'zzz' in obj2

False

In [23]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon':16000, 'Utah': 5000}
obj3 = pd.Series(sdata)
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [24]:
states = ['California', 'Ohio', 'Oregon', 'Texas']
obj4 = pd.Series(sdata, index=states)
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [25]:
pd.isnull(obj4)

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [27]:
pd.notnull(obj4)

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

In [28]:
obj4.isnull()

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [29]:
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [30]:
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [31]:
obj3 + obj4

California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64

In [32]:
obj4 + obj3

California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64

In [33]:
obj4 + obj3 + obj3

California         NaN
Ohio          105000.0
Oregon         48000.0
Texas         213000.0
Utah               NaN
dtype: float64

In [35]:
print(obj4.name)

None

In [0]:
obj4.name = 'Population'

In [0]:
obj4.index.name = 'States'

In [40]:
obj4

States
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: Population, dtype: float64

In [41]:
obj

0     99.0
1    550.0
2     32.0
3      0.0
4      2.1
dtype: float64

indexå¤ä¸å(æ²å°å°)  
  ->

In [42]:
obj.index = ['å¨','ä½ å¥½','Bob','QQ','OAO','@@']

ValueError: ignored

æ­£ç¢ºç  
->

In [0]:
obj.index = ['å¨','ä½ å¥½','Bob','QQ','OAO']

In [46]:
obj

å¨       99.0
ä½ å¥½     550.0
Bob     32.0
QQ       0.0
OAO      2.1
dtype: float64

## Data Frame

In [49]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'], 
        'year': [2000, 2001, 2002, 2001, 2002, 2003], 
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
frame = pd.DataFrame(data)
frame

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

In [50]:
frame.head()

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9

In [51]:
frame.head(10) #DataFrameåªå°5

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

tail()åæ¸5å

In [52]:
frame.tail()

    state  year  pop
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2